<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Handle root domain explicitly -->
                <rule name="HandleRootDomain" stopProcessing="true">
                    <match url="^$" />
                    <action type="Rewrite" url="index.html" />
                </rule>

                <!-- Redirect /index to root domain -->
                <rule name="RedirectIndexToRoot" stopProcessing="true">
                    <match url="^index/?$" />
                    <action type="Redirect" url="/" redirectType="Permanent" />
                </rule>

                <!-- Remove .html extension from URLs -->
                <rule name="RemoveHTMLExtension" stopProcessing="true">
                    <match url="^(.*)\.html$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^GET$" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" />
                    </conditions>
                    <action type="Redirect" url="{R:1}" redirectType="Permanent" />
                </rule>

                <!-- Add .html extension internally -->
                <rule name="AddHTMLExtension" stopProcessing="true">
                    <match url="^([^/]+)/?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.html" />
                </rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/404.html" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
